.BFButton {
	display: inline-block;
	width: 40%;
	margin: 0 auto;
	vertical-align: middle;
	height: 200px;
	font-size: 50px;
	border-radius: 6px;
	margin-top: 35%;
	/*display: table-cell;*/
}

body {
	/*padding: 40%;*/
	/*display: table;*/
	text-align: center;
}

